.cuadrado1{
    width: 100px;
    height: 100px;
    background-color: red;
}

.cuadrado2{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.cuadrado3{
    width: 100px;
    height: 100px;
    background-color: pink;
}