<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col">
            <p class="text-end">
                <span>Bienvenid@ {{usuario}}</span>
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion <i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
</div>