<h2>hola soy la pagina de contacto</h2>
<form action="">
    <input type="text" placeholder="Ingrese su usuario" name="" id="">
    <input type="pasword" placeholder="Ingrese su contraseña" name="" id="">
    <input type="submit" value="Enviar">
</form>