
<h2>Hola soy la pagina de index</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, alias dicta provident porro, eveniet nostrum voluptatum ducimus sit cumque facilis unde consequatur tempora odio molestias nam, rem laudantium fuga at.</p>
